[Unit]
Description=Shipping Service

[Service]
User=shipping
// highlight-start
Environment=CART_ENDPOINT=cart.devopseng.shop:8080
Environment=DB_HOST=mysql.devopseng.shop
// highlight-end
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
